.cta{

    background: linear-gradient(90deg ,#3DA394,#194790);
    position: relative;
    padding: 11rem 0;
    z-index: 1;

    @include respond(900px){
        padding:6rem 0;
    }

    @include respond(400px){
        padding:4rem 0;
    }

    &__after{
        position: absolute;
        right: 3rem;
        top: 50%;
        transform: translateY(-50%);
        max-width: 35%;
        z-index: -1;

        @include respond(400px){
            display: none;
        }
    }

    &__count{
        font-size: 8rem;
        font-weight: 600;

        @include respond(900px){
            font-size: 6rem;
        }

        @include respond(400px){
            font-size: 4rem;
        }
    }

    &__subtext{
        color: #fff;
        font-size: 1.6rem;
    }

    &__social{
        margin-top: 2rem;
    }

    &__social-link{
        width: 4rem;
        height: 4rem;
        display: inline-block;
        background-color: #fff;
        border-radius: 50%;
        text-decoration: none;
        margin:  0 auto;
        line-height: 4.5rem;
        margin: 0 .6rem;
        transition: all .3s;

        i{
            font-size: 1.6rem;
            color: #276B92;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}