.nav{
    padding: 3rem 0;
    background-image: linear-gradient(to right ,#161638 , #1A234B);

    @include respond(800px){
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 9991;
    }



    &__search{

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        @include respond(800px){
            margin-bottom: 0rem;
        }

    }

    &__logo{
        flex:  0 0 25%;

        @include respond(800px){
            flex:  0 0 15%;
        }

        &-img{
            @include respond(800px){
                max-width: 15rem;
            }
        }
    }

    &__form{
        flex:  0 0 45%;
        position: relative;

        @include respond(600px){
            display: none;
        }

        @include respond(800px){
            flex:  0 0 55%;
        }
    }

    &__input{
        padding: 1.1rem 5rem;
        width: 100%;
        border-radius: 100px;
        background-color: transparent;
        border: none;
        border: 1px solid #8E819E;
        font-size: 1.4rem;
        font-weight: 300;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        transition: all .3s;


        &:focus{
            background-color: rgb(15, 18, 46);
            outline: none;
        }

        &::placeholder{
            font-family: 'Montserrat', sans-serif;
            opacity: .8;
            letter-spacing: 1px;
        }
    }

    &__label{
        color: #fff;
        font-size: 1.7rem;
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
        opacity: .8;
    }

    &__user{
        font-size: 2rem;
        color: #fff;
        flex:  0 0 25%;
        display: flex;
        justify-content: flex-end;

        @include respond(800px){
            display: none;
        }
    }

    &__list{
        list-style: none;
        text-align: center;

        @include respond(800px){
            display: none;
        }

        &.active{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 2rem 0;
            background-color: #0E041B;
            z-index: 99999;
            margin-top: 0;
            transition: all .3s;
        }
    }

    &__item{
        display: inline-block;
        margin: 0 2rem;
    }

    &__link{
       text-decoration: none;
       color: #B0A5C1; 
       display:block;
       padding: 1.2rem 0;
       font-size: 1.5rem;
       transition: all .3s;
       position: relative;

       &.active{
           color: #fff;

           &::after{
            transform: scaleX(1);
           }
       }


       &::after{
           content: '';
           width: 100%;
           height: 2px;
           left: 0;
           bottom: 0;
           position: absolute;
           background-image: linear-gradient(90deg , #06BD9E, #146FA7);
           transform: scaleX(0);
           transition: all .3s;
       }

        &:hover{
            color: #fff;

            &::after{
            transform: scaleX(1);
            }
        }
    }


    &__trigger-wrap{
        display: none;
        flex:  0 0 15%;
        justify-content: center;
        padding: 2rem 0;
        cursor: pointer;
        z-index: 999999;

        @include respond(800px){display: flex;}
    }

    &__trigger-wrap.active{

        .nav__trigger{
            background-image: none;
        }

        .nav__trigger::after{
            transform: rotate(135deg);
            top: 0; 
        }

        .nav__trigger::before{
            transform: rotate(45deg);
            top: 0;
        }
    }

    &__trigger{
        display: block;
        width: 4rem;
        height: 2px;
        background-image: linear-gradient(90deg , #06BD9E, #146FA7);
        position: relative;
        transition: all .5s;
        z-index: 999;

       

        &::after,
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 8px;
            left: 0;
            background-image: linear-gradient(90deg , #06BD9E, #146FA7);
            transition: all .5s;

        }

        &::before{
            top: auto;
            bottom: 8px;
        }
    }
}


// // Owl Nav



.owl-dots {
    position: absolute;
    right: 0;
    bottom: -3rem;
    transition: all .3s;

    @include respond(500px){
        bottom: -6rem;
        right: 50%;
        transform: translateX(50%);
    }
  }


.owl-dot span {
    width: 7rem;
    height: 2px;
    background-color: #fff;
    display: block;
    z-index: 1;
    transition: all .3s;

    @include respond(500px){
        width: 3rem;
    }
  }

  .owl-dot.active span {
    background: #12608E;
    transition: all .3s;
  }

  .owl-carousel .owl-item img{
      width: 120%;

      @include respond(500px){
           width: 70%; 
           margin: 0 auto;
    }
  }