.review{

    position:relative;

    &__after{
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-50%);
        max-width: 20rem;
        z-index: -1;

        @include respond(600px){
            max-width: 10rem;
        }
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(30rem , 1fr));
        grid-column-gap: 3rem;
        grid-row: auto;
        grid-row-gap: 5rem;
    }

    &__single{
        background-color: rgba(255, 255, 255, 0.020);
        padding: 3rem 4rem;

        @include respond(1100px){
            padding: 3rem 3rem;
        }

        .description{
            font-size: 1.2rem;
            padding: 2rem 0;
            border-bottom: 1px solid rgba(27, 27, 63, 0.733);
            text-align: left;
        }



    }

    &__img{

    }

    &__name{
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
        margin: 1rem 0 .6rem 0;
    }

    &__location{
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 700;
        color: #006699;
    }

    &__rate{
        font-size: 1rem;
        opacity: .7;
        color: #fff;
        font-weight: 600;
        display: block;
        margin: 3rem 0 1rem 0;
    }

    &__star{
        color: #FFCE04;
        font-size: 1.7rem;
    }


}