.section-padding{
    padding: 10rem 0 !important;
}

.section-padding-top{
    padding-top: 7rem !important;
}

.section-padding-bottom{
    padding-bottom: 7rem !important;
}

.mt-5{
    margin-top: 5rem;
}

.mt-7{
    margin-top: 7rem !important;
}

.text-center{
    text-align: center;
}

.section-border{
    border-top: 1px solid #2C365C;
}